* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
body p {
  color: #787976;

}


.intro h2 {
    color: #484a46;;
}

.home {
  background-image: url(images/header-background.jpg);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-content h1 {
  text-align: center;
  margin-top: 100px;
  color: white;
  align-items: center;
}
.child-image img {
  width: 50px;
  height: 50px;
}
.navbar-container img {
  width: 80px;
  height: 80px;
  padding: 10px 10px;
  margin-left: 20px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #113448;
  align-items: center;
  position: sticky;
  top: 0;
  height: 4rem;
  z-index: 10;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
li {
  list-style: none;
  font-size: 20px;
  padding: 10px 5px;
  color: white;
}
li select {
  text-decoration: none;
}
.intro {
  display: flex;
  justify-content: center;
}
.img-content {
  width: 635px;
  height: 410px;
  margin-right: 110px;

  margin-top: 80px;
}
.img-content img {
  width: 100%;
  overflow: hidden;
}
.container-content {
  width: 635px;
  height: 410px;
  margin-top: 5rem;
  align-items: center;
  margin-left: 220px;
  padding: 20px 20px;
}
.container-content p {
  width: 100%;
  text-align: start;
  margin-top: 1rem
}
.container-content h2 {
  text-align: start;
  font-weight: bold;
  color: #484a46;
  font-size: 2rem;
  margin-top: 0.8rem;

}


.service h2{
    color: #484a46;
    font-size: 2rem; 
}
.container-content h5 {
  text-align: start;
  margin-top: 20px;
  font-weight: bold;
 
 
}

.intro-p {
  color: #14bf98;
  font-weight: bold;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  
}
.card-container h3{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card {
  width: 350px;
}


.icon-div{
background-image: url(images/hexagon-green.svg);
  background-repeat: no-repeat;
  width: 3.5rem;
  height:5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}
.service-plans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.service-card {
  width: 350px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;

  margin-top: 5rem;
}
.social-card-icon{
  width: 350px;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    color: white;
}

.service-card-ul {
  color: black;
}
.service-card-li {
  color: black;
}
.service-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-content h1 {
  font-size: 3rem;
  font-weight: bold;
}
.p-content p {
  color: white;
  margin-top: 1rem;
  text-align: center;
}

.heading-content {
  text-align: center;
  margin-top: 10rem;
}
.btn-container button {
  margin-top: 1rem;
}

.heading-content h5 {
  font-weight: bold;
  color: #14bf98;
}
.num {
    color: #14bf98;
    font-weight: bold;
}
.service-card h2 {
  text-align: center;
  font: bold 1rem/1.5625rem "Open Sans", sans-serif;
  color: #484a46;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.service-card p {
  margin-top: 0.5rem;
  text-align: center;
  font: 400 1rem/1.5625rem "Open Sans", sans-serif;
}
.button-container  {
  text-align: center;
  margin-top: 2rem;
}

button {
  display: inline-block;
  padding: 1.1875rem 1.875rem 1.1875rem 1.875rem;
  border: 0.125rem solid #14bf98;
  border-radius: 0.25rem;
  background-color: #14bf98;
  color: #fff;
  font: 700 0.75rem/0 "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

/* ******* HEADER CONTENT ******* */

.header-content {
  display: flex;
  justify-content: center;
}
.p-content {
  display: flex;
  justify-content: center;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.nav-content {
  align-items: center;
  position: absolute;
}
.navlist {
  /* padding-left: 5rem; */
  /* width: 80vw; */
}
.icon-li {
  position: relative;
  padding: 0;
  width: 30px;
}
.icon-li i {
  position: absolute;
  top: 1rem;
  left: 1.1rem;
}
.icon-li img {
  width: 50px;
  height: 50px;
  margin: 0;
}

#li-icon {
  width: 10px;
  height: 10px;
}
.rough {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  border: 1px solid black;
}
.rough .icon-li {
  position: absolute;
}
.rough .icon-li img {
  width: 50px !important;
}
.rough i {
  position: absolute;
  top: 2.4rem;
  left: 3.6rem;
  color: red;
}

.navlist ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  align-items: center;
}
i {
  align-items: center;
}


.testimonials h1 {
  text-align: center;
  margin-top: 60px;
}
.testimonials-para {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
.img-testimonial {
  border-radius: 50%;
  align-items: center;
}
.testimonials-container {
  align-items: center;
  margin-top: 40px;
  width: 850px;
  text-align: center;
}
.testimonial-child-container {
  display: flex;
  justify-content: space-between;
}
.testimonial-para {
  text-align: center;
}
.call-me-section {
  background-color:#113448;

  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
 
}

.callme-content{
  width: 50%;
  


}
.callme-content-h1{
  width: 50%;
  font-weight: bold;
  margin-top: 1rem;
  color: white;
 
}
.callme-para{
  width: 50%;
  color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.callme-container{
  display: flex;
  justify-content: center;
flex-wrap: wrap;
margin-top: 4rem;
margin-bottom: 4rem;
padding-left: 3rem;
 
}
ul{
  display: flex;
  flex-wrap:wrap ;
  flex-direction: column;
  
}
#para-p{
  color: white;
  margin-top: 0.5rem;
}

.callme-input{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30%;
  color:#113448;
  margin-right: 4rem;

}
.callme-input input{
  padding: 1rem 8px;
  margin-top: 1rem;
  background-color: #39728f;
  border: #39728f;
  border-radius: 5px;
  color: white;
}
.callme-input select {
  margin-top: 1rem;
  padding: 1rem 8px;
  background-color: #39728f;
  color: white;
}
option{
  color: black;

}

.btn {
  padding: 1rem 2rem;
}
.project-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.project-heading {
  text-align: center;
  margin-top: 3rem;
}
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 2rem;
}
.project-img {
  width: 350px;
  height: 300px;
}
.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
#icon-div-i{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-para{
  text-align: center;
  margin-top: 1rem;
}
.team-header{
  text-align: center;
  margin-top: 1rem;
}
.icon-img {
 display: flex;
 justify-content: center;

}


.about-img img {
  width: 450px;
  height: 350px;
}
.about-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10rem;
}
.about-content {
  margin-top: 1rem;
}

#para {
  text-align: start;
  margin-top: 10px;
  margin-bottom: 2rem;
}

#checkbox {
  background-color: #14bf98;
  color: #14bf98;
  font-size: 13px;
}
.about-content h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 5rem;
}
.contact-content {
  margin-top: 3rem;
}
.contact-content p {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.contact-content h1 {
  margin-top: 1rem;

}
.contact-phone {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact-phone i {
  color: #14bf98;
}
.contact-phone a {
  text-decoration: none;
}

.footer-container{
  background-color: #113448;
  height:300px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  color: white;
  
 

}
.footer-1{
  width: 40%;
 margin-top: 4rem;
 

}
#footer-h3{
  margin-top: 1rem;
  font-weight: bold;

}
#footer-p{
  color:#dfe5ec;
  margin-top: 0.5rem;
  text-align: start;
}

.footer-tools{
  margin-top: 4rem;
  
}
.footer-partners{
  margin-top: 4rem;
}
.footer-links{
  margin-top: 4rem;
}
.img-icon {
  width: 3rem;
  height: 5rem;
  position: relative;
  

}
#img-f{
  
 
  position: absolute;
  bottom:10rem;
  left:-3.5rem;
  color: black;
  font-size: 8rem;
  
}
.social-icons{
  display: flex;
 flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: start;
  margin-top: 1rem;
}
.icon{
 
  text-align: center;
}
.location{
  color:#484a46;
}
.accordian-icon{
  font-size: 2rem;
  color: #14bf98;
}
.circle-numbering{
  display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
   
    border: 0.125rem solid #14bf98;
    border-radius: 50%;
    background-color: #14bf98;
    color: #fff;
    font: 700 1rem/2.125rem "Montserrat",sans-serif;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s ease;
    
    margin-top: 1rem;
}
.accordian-container{
  display: flex;
  justify-content: space-between;
}
.accordian-img{
  width: 50%;
  margin-top: 4rem;

}
.accordian-img img{
  width: 100%;
  object-fit: cover;
  
}
.accordian-header{
  width: 50%;
  margin-top: 4rem;
  margin-left: 5rem;

}
.accordian-h1 {
 font-size: 1rem;
}

.accordian-title{
  
  display: inline-block;
  width: 70%;
  margin-top: 0.225rem;
  margin-bottom: 0.25rem;
  color: #484a46;
  font: 700 1.25rem/1.75rem "Montserrat",sans-serif;
  vertical-align: middle;
  cursor: pointer;
  transition: all 0.2s ease;
}

.accordian-text{
  width: 50%;
  margin-top: 6rem;
}
.accordian-text h1 {
  text-align: center;
 
}
.accordian-text p {
  align-items: start;
  margin-left: 11.5rem;
  margin-top: 1rem;
}
.progress-bar-one{
  width: 80%;
  background-color: #14bf98;
  padding: 10px 5px;
  margin-top: 10px;

}
.bar1{
  text-align: center;
  margin-right: 8.5rem;
  margin-top: 1rem;
 
}
.progress-bar-card{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-left: 11.5rem;
}
.progress-bar-two{
  width: 60%;
  background-color: #14bf98;
  padding: 10px 5px;
  margin-top: 10px;


}
.progress-bar-three{
  width: 70%;
  background-color: #14bf98;
  padding: 10px 5px;
  margin-top: 10px;

}
.bar1 h4{
  font-weight: 100;
  color:black;
}
.testimonial-card{
  width: 20%;
}
.test-img{
  width: 50%;
  border-radius: 50%;
  align-items: center;
}
.test-para{
  text-align: center;
  
}
.test-auth{
  margin-top: 1rem;
  text-align: center;

}
.testimonials-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.input-container{
margin-right: 2rem;
}
.input-section input{
  margin-top: 2rem;
  
  padding: 15px 15px;
  width: 500px
 
  
}
.btn-submit{
  width: 500px;
  margin-top: 1rem;
}
textarea{
  margin-top: 2rem;
}
.img-div{
  background-image: url(images/hexagon-green.svg);
  background-repeat: no-repeat;
  width: 6rem;
  height:5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}
.card-icon{
  font-size: 2rem;
  color: white;
}
span{
  color: white;
}